@use 'variables';

body {
	margin: 0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Spartan', sans-serif;
	font-size: 15px;
	max-width: 1489px;
}



.intro {
background: url('../images/bg-pattern-top-mobile.svg') no-repeat;
background-position: top;
padding-bottom: 0;
	&__title{
		color: $p-color1;
		@include fw-bold;
		font-size: 2rem;
		text-align: center;
		line-height: 1.2;
	}

	&__subtitle {
		color: $n-color1;
		text-align: center;
		line-height: 1.6;
		margin-top: 1em;
		font-size: 0.9rem;
		@include fw-medium;
	}
}

.review {
	background:$n-color2;
	padding: 1.5em 2em;
	margin-bottom: 1.5rem;
	border-radius: 10px;
	color:$p-color1;
	@include fw-bold;

	.icons{
		display: block;

		.fa-star {
			margin-bottom: .4em;
			color:#f9b008;
		}
	}
}

//just to remove excessive padding

.intro__reviews{
	padding-bottom: 0;
}


