@use 'variables';

body {
	margin: 0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Spartan', sans-serif;
	font-size: 15px;
}



.intro {
background: url('../images/bg-pattern-top-mobile.svg') no-repeat;
background-position: top;

	&__title{
		color: $p-color1;
		@include fw-bold;
		font-size: 2rem;
		text-align: center;
		line-height: 1.2;
	}

	&__subtitle {
		color: $n-color1;
		text-align: center;
		line-height: 1.6;
		margin-top: 1em;
		font-size: 0.9rem;
		@include fw-medium;
	}
}

